<div class="card_top">
  <div class="card_top_text">
    <div class="left_row"></div>
    <div class="text">添加基本信息</div>
  </div>
  <div class="card_top_input">
    <div class="role">角色名称</div>
    <input type="text" placeholder="编号">
  </div>
</div>
<div class="card_fot">
  <div class="card_fot_text">
    <div class="left_row"></div>
    <div class="text">添加基本信息</div>
  </div>
  <div class="card_fot_checkbox">
    <div class="checkbox_list">
      <div class="checkbox_top">
        <input type="checkbox">
        <span class="text">页面名称</span>
      </div>
      <div class="checkbox_fot">
        <div class="chexbox_fot_li">
          <input type="checkbox">
          <span class="text">查询</span>
        </div>
        <div class="chexbox_fot_li">
          <input type="checkbox">
          <span class="text">新增</span>
        </div>
        <div class="chexbox_fot_li">
          <input type="checkbox">
          <span class="text">编辑</span>
        </div>
        <div class="chexbox_fot_li">
          <input type="checkbox">
          <span class="text">搜索</span>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="button_box">
  <input type="button" value="保存" class="ok_button">
  <input type="button" value="取消" class="cancel_button">
</div>
