<div class="max_box">
  <h6 class="title">添加主疾病</h6>
  <hr class="fg">

  <div class="defualt_box">
    <label class="lables">病区名称:</label>
    <input class="inputs" type="text" placeholder="病区名称" readonly>
  </div>
  <div class="defualt_box">
    <label class="lables">疾病名称:</label>
    <input class="inputs" type="text" placeholder="主疾病名称">
  </div>
  <div class="defualt_box">
    <label class="lables">主疾病ID:</label>
    <input class="inputs" type="text" placeholder="主疾病ID" readonly>
  </div>
  <div class="defualt_box">
    <label class="lables">添加时间:</label>
    <input class="inputs"type="text" placeholder="时间" readonly>
  </div>
  <div class="defualt_box">
    <label class="lables">类型级别:</label>
    <input class="inputs"type="text" placeholder="主疾病" readonly>
  </div>
  <div class="button_box">
    <input type="button" value="保存" class="buttons_ok">
    <input type="button" value="取消" class="buttons_cancel">
  </div>
</div>
