<div class="max_box">
  <d-tag
    *ngFor="let tag of tagList2;index as i"
    [deletable]="false"
    class="tags"
    [customViewTemplate]="tas"
    [labelStyle]="'aqua-w98'"
  >
    <ng-template #tas >
      <span title="{{ tag.name }}" (click) = "getTagValue(tag.url, tag.type, tag.id)" class="title">{{ tag.name }}</span>
      <span class="close" [hidden]="tagList2.length>1?true:false" (click)="deleteTag(i)">x</span>
    </ng-template>
  </d-tag>
  <d-toast [lifeMode]="'single'" [value]="msgs"></d-toast>
</div>

