<div class="max_box">
  <section class="section_box">
    <p class="section_box_title">欢迎登录XX医疗后台系统</p>
    <div class="section_box1">
      <div class="section_box1_1">

        <p class="section_box1_1_p">welcome</p>
      </div>
      <div class="section_box1_2">
        <p class="section_box1_2_p">欢迎登录后台系统</p>
        <div class="section_box1_2_div">
          <img src="../img/user.png" alt="" class="defualt_img">
          <input type="text" placeholder="请输入账号" class="defualt_input">
        </div>
        <div class="section_box1_2_div">
          <img src="../img/pass.png" alt="" class="defualt_img">
          <input type="password" placeholder="请输入密码" class="defualt_input">
        </div>
        <div class="section_box1_2_div">
          <input type="checkbox" style="width: 18px">
          <input type="text" placeholder="记住用户名" readonly class="defualt_input">
        </div>
        <input type="button" value="登录" class="sumbit">
      </div>
    </div>
  </section>
</div>
