.max_box{
  width: 453px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  align-content: center;
  align-items: center;

}

.title{
  color: #B2B2B2;
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
}
.inputBox{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 20px;
  margin-bottom: 20px;

}
.input{
  border: none;
  outline: none;
  border-bottom: 1px #eeeeee solid;
  padding-left: 10px;
  width: 80%;
  height: 40px;
  margin-right: 20px;
}
.sumbit{
  width: 80%;
  border: none;
  background: #02BFD8;
  color: white;
  border-radius: 10px;
  padding: 10px 0;
  margin-bottom: 20px;
}
