<style>
  .devui-tree-node .devui-tree-node__content:hover{
    background: none!important;
  }
</style>
<div class="index_max_box" dLoading [backdrop]="true" [loading]="loadings">
  <div class="index_box1">
    <section>
      <div class="tree-title">
        <img src="./assets/img/logoD.png" alt="" class="tree-logo">
<!--        <h4 style="text-align: center;margin-top: 40px;color: white">LOGO</h4>-->
<!--        <div class="index_title_box">-->
<!--          <img src="../../assets/img/disease.png" alt="" class="index_title_icon">-->
<!--          <span class="index_title">电子病例</span>-->
<!--        </div>-->


      </div>
      <d-operable-tree
        #basicTree
        [tree]="myData.data"
        [treeNodeIdKey]="'id'"
        [loadingTemplateRef]="nodeTemplate"
        [treeNodeChildrenKey]="'children'"
        [iconParentOpen]="iconParentOpen"
        [iconParentClose]="iconParentClose"
        [iconLeaf]="iconLeaf"
        [checkable]="false"
        [iconTemplatePosition]="'after-checkbox'"
        class="slide_box"
      >
        <ng-template #nodeTemplate let-node="node">
          <span class="tree_items" style="" (click)="onNodeSelected(node)">{{ node?.title }}</span>
        </ng-template>
      </d-operable-tree>
    </section>
  </div>
  <div class="index_box1_1"></div>
  <div class="index_box2"  >
    <app-headers></app-headers>
<!--    <app-index-first></app-index-first>-->
    <hr class="fg">
    <app-table></app-table>
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

  </div>


</div>




