@charset "UTF-8";
body {
  background: #F3F4F4;
}
.index_max_box{
  width: 100%;
  height: 100%;
  display: flex;
  background: #F3F4F4;
  justify-content: space-between;
  overflow: scroll;
}
.index_max_box::-webkit-scrollbar {/*滚动条整体样式*/
  width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.index_max_box::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: linear-gradient(0deg,#02BADD,#01D4C5);
}
.index_max_box::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0;
  background: linear-gradient(0deg,#02BADD,#01D4C5);
}



.index_box1{
  background: linear-gradient(0deg,#01D4C5,#02BADD);
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  width: 16%;
  height: 100%;
}
.index_box1_1{
  width: 16%;
}
.index_box1::-webkit-scrollbar {/*滚动条整体样式*/
  width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.index_box1::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: linear-gradient(0deg,#02BADD,#01D4C5);
}
.index_box1::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0;
  background: linear-gradient(0deg,#02BADD,#01D4C5);
}
.index_box2{
  width: 84%;
}
.slide_box {
  padding-left: 23px;
  letter-spacing: 2px
}
.slide_box:hover{
  background: none!important;
}

.index_title{
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
  margin-left: 29px;
}
.tree_items{
  margin: 0 10px;
  color: white;
}

.index_title_box{
  display: flex;
  flex-direction: row;
  margin-top: 71px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  /*background: rgba(255,255,255,0.28);*/
}
.index_title_box:hover{
  display: flex;
  flex-direction: row;
  margin-top: 71px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.28);
}
.index_title_box:active{
  display: flex;
  flex-direction: row;
  margin-top: 71px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.28);
}
.index_title_box:visited{
  display: flex;
  flex-direction: row;
  margin-top: 71px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.28);
}

.index_title_icon{
  width: 24px;
  height: 27px;
}
.purview_box{
  margin-bottom: 20px;
  background: rgba(255,255,255,0.28)!important;
  color: white!important;
}

.purview_box_1{
  background: rgba(255,255,255,0.28);
  color: white;
  text-align: center;
}
.purview_box >>> d-accordion-list{
  background: none!important;
  color: white;
  /*padding: 5px 0;*/
  box-shadow: none!important;
}
/*标题*/
.purview_box >>> d-accordion-list >>> div{
  color: white;
  text-align: center;
  font-size: 16px;
}
.purview_box >>> d-accordion-list >>> div:hover{
  color: white !important;
  background: none!important;
}
.purview_box >>> d-accordion-list >>> div:active{
  color: white !important;
  background: none!important;
}
.purview_box >>> d-accordion-list > ul{
  padding: 5px 0 !important;
}

/*子类容*/
.purview_box >>> d-accordion-list >>> d-accordion-list >>> d-accordion-item{
  background: none!important;
  color: white;
}
.purview_box >>> d-accordion-list >>> d-accordion-list >>> d-accordion-item:hover{
  background: none!important;
}
.purview_box >>> d-accordion-list >>> d-accordion-list >>> d-accordion-item:active{
  color: white!important;
}
.slide_box >>> div >>> d-tree >>> d-tree-nodes >>> div >>> div:hover{
  background: rgba(255,255,255,0.1) !important;
}



