<section class="max_box">
  <div class="title_box">
    <hr class="title_hr">
    <span class="title_title">查询条件</span>
  </div>
  <hr class="fg">
  <div class="input_box">
    <div class="input_box1">
      <label class="default_lable">
        用户名称
      </label>
      <input type="text" placeholder="用户名称" class="default_input" maxlength="11">
    </div>
    <div class="input_box1">
      <label class="default_lable">
        科室
      </label>
      <d-select type="text"
                placeholder="科室"
                class="default_select"
                maxlength="11"
                [options]="DepartmentOption"
                [filterKey]="'title'"
                [(ngModel)]="DepartValues"
                (valueChange)="selectValueD($event)"
      >
        <ng-template let-option="option" let-filterKey="filterKey"> {{ option[filterKey] }} </ng-template>
      </d-select>
    </div>
    <div class="input_box1">
      <label class="default_lable">
        病区
      </label>
      <d-select id="ward_se"
                type="text"
                placeholder="病区"
                class="default_select"
                maxlength="11"
                [options]="WardOption"
                [allowClear]="true"
                [(ngModel)]="wardvalues"
                [filterKey]="'title'"
                (valueChange)="selectValueW($event)"
      >
        <ng-template let-option="option" let-filterKey="filterKey"> {{ option[filterKey] }} </ng-template>
      </d-select>
    </div>
  </div>
  <div class="button_box">
    <input class="default_button"
           type="button"
           *ngFor="let item of buttons_arr"
           value="{{item.name}}"
           (click)="onSelectButton(item.id)"
    >
  </div>
</section>

<footer class="max_footer">
  <table class="footer_box">
    <tr class="">
      <th class="label_check">
        <d-checkbox
          [name]="'checkbox-username'"
          [label]=""
          [color]="'#02BFD8'"
          [ngModel]="isAll"
          class="label_check"
          (click)="isOnselectCheckAll()"
        >
        </d-checkbox>
      </th>
      <th *ngFor="let TextBean of label_header" class="defualt_label">{{TextBean.name}}</th>
    </tr>
    <tr  *ngFor="let TextBean of myData.data.List;index as i" class="table_box_tr">
      <td class="label_check1">
        <d-checkbox
          [name]="'checkbox-username'"
          [label]=""
          [color]="'#02BFD8'"
          [ngModel]="isAll"
          class="label_check1"
        >
        </d-checkbox>

      </td>
      <td class="table_td">
        <a class="defualt_label_a">
          {{TextBean.id}}
        </a>
      </td>
      <td class="table_td">
        <a class="defualt_label_a">
          {{TextBean.user_number}}
        </a>
      </td>
      <td class="table_td">
        <a class="defualt_label_a">
          {{TextBean.account}}
        </a>
      </td>
      <td class="table_td">
        <a class="defualt_label_a">
          {{TextBean.mobile}}
        </a>
      </td>
      <td class="table_td">
        <a class="defualt_label_a">
          {{TextBean.department_id}}
        </a>
      </td>
      <td class="table_td">
        <a class="defualt_label_a">
          {{TextBean.ward_id}}
        </a>
      </td>
      <td class="table_td">
        <a class="defualt_label_a">
          {{TextBean.update_admin}}
        </a>
      </td>
      <td class="table_td">
        <a class="defualt_label_a">
          {{TextBean.updatetime}}
        </a>
      </td>
      <td class="table_td">
        <a class="defualt_label_a">
          {{TextBean.add_admin}}
        </a>
      </td>
      <td class="table_td">
        <a class="defualt_label_a">
          {{TextBean.dateline}}
        </a>
      </td>
      <td class="table_td">
        <div class="menu_box">
          <img src="./assets/img/chakan.png" alt="" class="menu_img" (click)="Show(TextBean.id)">
          <img src="./assets/img/bianji.png" alt="" class="menu_img" (click)="Editer(TextBean.id)">
        </div>
      </td>
    </tr>

  </table>

</footer>

<div class="page_box">
  <d-pagination
    [total]="pager.total"
    [(pageSize)]="pager.pageSize"
    [(pageIndex)]="pager.pageIndex"
    [canViewTotal]="false"
    [canChangePageSize]="false"
    [canJumpPage]="false"
    [size]="'lg'"
    (pageIndexChange)="pageIndexChangeWithoutFix($event)"
    (pageSizeChange)="pageSizeChangeWithoutFix($event)"
  >
  </d-pagination>
</div>
