<section class="max_box">
  <div class="title_box">
    <hr class="title_hr">
    <span class="title_title">查询条件</span>
  </div>
  <hr class="fg">
  <div class="input_box">
    <input type="text" placeholder="姓名" class="default_input" [(ngModel)]="selectDate.username">
    <input type="text" placeholder="主疾病名" class="default_input" [(ngModel)]="selectDate.diseases_name">
    <input type="text" placeholder="病例ID" class="default_input" [(ngModel)]="selectDate.id">
    <d-select id="disease"
              type="text"
              placeholder="病例状态"
              class="default_select"
              maxlength="11"
              [options]="CaseStatus"
              [allowClear]="true"
              [(ngModel)]="CaseStatusValue"
              [filterKey]="'title'"
              (valueChange)="selectValueD($event)"

    >
      <ng-template let-option="option" let-filterKey="filterKey"> {{ option[filterKey] }} </ng-template>
    </d-select>
  </div>
  <div class="button_box">
    <input class="default_button" type="button"
           *ngFor="let item of buttons_arr"
           value="{{item.name}}"
           (click)="onSelectButton(item.id)"
    >
  </div>
</section>
<footer class="max_footer">
  <table class="footer_box" dLoading [backdrop]="true" [loading]="Loadings">
    <tr class="">
      <th class="label_check">
        <d-checkbox
                [name]="'checkbox-username'"
                [label]=""
                [color]="'#02BFD8'"
                [ngModel]="false"
                class="label_check"
              >
        </d-checkbox>

      </th>
      <th *ngFor="let TextBean of label" class="defualt_label">{{TextBean.name}}</th>
    </tr>
    <tr  *ngFor="let TextBean of myData.data.List;index as i" class="table_box_tr">
      <td class="label_check1">
        <d-checkbox
          [name]="'checkbox-username'"
          [label]=""
          [color]="'#02BFD8'"
          [(ngModel)]="TextBean.isActivited"
          class="label_check1"
        >
        </d-checkbox>

      </td>
      <td class="td_row">
        <span class="defualt_label">
              {{TextBean.username}}
        </span>
      </td>
      <td class="td_row">
        <span class="defualt_label">
             {{TextBean.id}}
        </span>
      </td>
      <td class="td_row">
        <span class="defualt_label">
           {{TextBean.diseases_id}}
        </span>
      </td>
      <td class="td_row">
        <span class="defualt_label">
          {{TextBean.diseases_name}}
        </span>
      </td>
      <td class="td_row">
        <span class="defualt_label">
          {{TextBean.department_name}}
        </span>
      </td>
      <td class="td_row">
        <span class="defualt_label">
          {{TextBean.ward_name}}
        </span>
      </td>
      <td class="td_row">
        <span class="defualt_label status_green" *ngIf="TextBean.deal_status == 0">
          编辑
        </span>
        <span class="defualt_label status_ward" *ngIf="TextBean.deal_status == 1">
          待审核
        </span>
        <span class="defualt_label status_sucess" *ngIf="TextBean.deal_status == 2">
          审核完成
        </span>
        <span class="defualt_label status_test1" *ngIf="TextBean.deal_status == 3">
          校准状态1
        </span>
        <span class="defualt_label status_test2" *ngIf="TextBean.deal_status == 4">
          校准状态2
        </span>
        <span class="defualt_label" *ngIf="TextBean.deal_status == 5">
          标准状态
        </span>
        <span class="defualt_label status_red" *ngIf="TextBean.deal_status == 6">
          无效
        </span>

      </td>
      <td class="td_row">
        <span class="defualt_label">
          {{TextBean.concurrent_name}}
        </span>
      </td>
      <td class="td_row">
        <span class="defualt_label">
          {{TextBean.starttime+"-"+TextBean.endtime}}
        </span>
      </td>
      <td class="td_row">
        <span class="defualt_label">
         {{TextBean.editer}}
        </span>
      </td>
      <td class="td_row">
        <span class="defualt_label">
          {{TextBean.update_admin}}
        </span>
      </td>

      <td>
        <div  class="menu_box">
          <img src="./assets/img/chakan.png" alt="" class="menu_img" (click)="onSelectButton(5, TextBean.id)">
          <img src="./assets/img/bianji.png"
               alt=""
               class="menu_img"
               *ngIf="TextBean.edit_status == 0"
               (click)="onSelectButton(6, TextBean.id)" >
          <img src="./assets/img/suo.png"
               alt=""
               *ngIf="TextBean.edit_status == 1"
               (click)="onSelectButton(7, TextBean.id)"
               class="menu_img"
          >
        </div>
      </td>
    </tr>

  </table>

</footer>

<div class="page_box">
  <d-pagination
    [total]="pager.total"
    [(pageSize)]="pager.pageSize"
    [(pageIndex)]="pager.pageIndex"
    [canViewTotal]="false"
    [canChangePageSize]="false"
    [canJumpPage]="false"
    [size]="'lg'"
    (pageIndexChange)="pageIndexChangeWithoutFix($event)"
    (pageSizeChange)="pageSizeChangeWithoutFix($event)"
  >
  </d-pagination>
</div>

<d-toast [lifeMode]="'single'" [value]="msgs"></d-toast>
