.max_box{
  background: #ffffff;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 15px;
  padding-top: 25px;
}
.title_box{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.title_hr{
  background: #02BFD8;
  width: 3px;
  box-sizing: content-box;
  overflow: visible;
  margin: 0 20px 0 20px;
  border: 0;
  border-top: 20px solid #02BFD8;
}
.fg{
  width: 100%;
  border-top: 1px solid #f9f9f9;
}

.title_title{
  font-size: 20px;
  font-weight: 400;
  color: #626262;
}
.input_box{
  display: flex;
  justify-content: flex-start;
}
.default_input{
  width: 133px;
  outline: none;
  border: 1px #c9c9c9 solid;
  border-radius: 10px;
  padding: 0 0 0 15px;
  margin-right: 20px;
  margin-left: 20px;
}
.default_input_select{
  border: none !important;
}
.button_box{
  margin-top: 30px;
  padding-bottom: 20px;
}
.default_button{
  background: #02BFD8;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  padding: 6px 35px;
  margin-left: 20px;
  margin-right: 10px;
}
/*is_show*/
.is_show{
  display: none;
}
.max_footer{
  background: #ffffff;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 15px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.max_footer::-webkit-scrollbar {/*滚动条整体样式*/
  width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.max_footer::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: linear-gradient(0deg,#02BADD,#01D4C5);
}
.max_footer::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0;
  background: linear-gradient(0deg,#02BADD,#01D4C5);
}
.td_row{
  text-align: center;
}

.defualt_label{
  font-size: 16px;
  font-weight: 400;
  color: #626262;
  margin-right: 25px;
  margin-left: 20px;
  letter-spacing: 1px;
  width: 130px;
  text-align: center;
  white-space: nowrap;
}
.footer_box{

  /*display: flex;*/
  /*align-items: center;*/
}
.table_box_tr{
  border-top: #f9f9f9 1px solid;
}
.label_check{
  font-size: 16px;
  font-weight: 400;
  color: #626262;
  margin-right: 25px;
  /*margin-left: 20px;*/
  letter-spacing: 1px;
  padding-left: 27px;
  /*width: 130px;*/
  text-align: center;
  opacity: 0;
}
.label_check1{
  font-size: 16px;
  font-weight: 400;
  color: #626262;
  margin-right: 25px;
  /*margin-left: 20px;*/
  letter-spacing: 1px;
  padding-left: 27px;
  /*width: 130px;*/
  text-align: center;

}
.defualt_label1{
  font-size: 14px;
  font-weight: 400;
  color: #626262;
  margin-right: 25px;
  margin-left: 20px;
  letter-spacing: 1px;
  width: 130px;
}
.menu_box{
  width: 150px;
  text-align: center;
}
.menu_img{
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.page_box{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.page_box >>> .devui-pagination .devui-pagination-list li:not(.disabled).active a {
  background: #02BADD !important;
}
.page_box >>> li >>> a:not(.disable):active{
  background: #02BADD !important;
}
