<div >
  <section class="max_box ">
    <div class="title_box">
      <hr class="title_hr">
      <span class="title_title">添加基本信息</span>
    </div>
    <hr class="fg">
    <div class="input_box">
      <div class="input_box1">
        <label class="default_lable">
          用户编号
        </label>
        <input type="text"
               placeholder="用户编号"
               class="default_input"
               maxlength="11"
               [ngModel]="SaveDataShow?SaveDataShow.user_number:''"
               (change)="InputChange( $event, 0)">
      </div>
      <div class="input_box1">
        <label class="default_lable">
          用户姓名
        </label>
        <input type="text"
               placeholder="用户姓名"
               class="default_input"
               maxlength="11"
               [ngModel]="SaveDataShow?SaveDataShow.account:''"
               (change)="InputChange( $event, 1)"
        >
      </div>
      <div class="input_box1">
        <label class="default_lable">
          手机
        </label>
        <input type="text"
               placeholder="手机"
               class="default_input"
               maxlength="11"
               [ngModel]="SaveDataShow?SaveDataShow.mobile:''"
               (change)="InputChange( $event, 2)"
        >
      </div>


      <div class="input_box1">
        <label class="default_lable">
          密码
        </label>
        <input type="text"
               placeholder="密码"
               class="default_input"
               maxlength="11"
               (change)="InputChange( $event, 3)"

        >
      </div>
      <div class="input_box1">
        <label class="default_lable">
          账号类型
        </label>
        <d-select
          type="text"
          placeholder="类型"
          class="default_select"
          maxlength="11"
          [options]="accountType"
          [allowClear]="false"
          [(ngModel)]="accountValue"
          [filterKey]="'name'"
          (valueChange)="selectValueP($event)"
        >
          <ng-template let-option="option" let-filterKey="filterKey"> {{ option[filterKey] }} </ng-template>
        </d-select>
      </div>

    </div>
  </section>

  <div class="departBox">
    <div class="card_fot_checkbox"  *ngFor="let data of DepartData;index as i">
      <div class="checkbox_list" >
        <div class="checkbox_top">
          <d-checkbox
            [name]="'checkbox-username'"
            [label]=""
            [color]="'#02BFD8'"
            [ngModel]="data.isActivited == 1 "
            class="label_check"
          >
          </d-checkbox>
          <span class="text1">{{data.title}}</span>
        </div>
        <div class="checkbox_fot" >
          <div class="chexbox_fot_li" *ngFor="let item of data.data;index as j">
            <d-checkbox
              [name]="'checkbox-username'"
              [label]=""
              [color]="'#02BFD8'"
              class="label_check"
              [ngModel]="item.isActivited == 1 "
              (change)="changes( i, j, $event)"
            >
            </d-checkbox>
            <span class="text">{{item.title}}</span>
          </div>
          <!--        <div class="chexbox_fot_li">-->
          <!--          <d-checkbox-->
          <!--            [name]="'checkbox-username'"-->
          <!--            [label]=""-->
          <!--            [color]="'#02BFD8'"-->
          <!--            [ngModel]="false"-->
          <!--            class="label_check"-->
          <!--          >-->
          <!--          </d-checkbox>-->
          <!--          <span class="text">新增</span>-->
          <!--        </div>-->
          <!--        <div class="chexbox_fot_li">-->
          <!--          <d-checkbox-->
          <!--            [name]="'checkbox-username'"-->
          <!--            [label]=""-->
          <!--            [color]="'#02BFD8'"-->
          <!--            [ngModel]="false"-->
          <!--            class="label_check"-->
          <!--          >-->
          <!--          </d-checkbox>-->
          <!--          <span class="text">编辑</span>-->
          <!--        </div>-->
          <!--        <div class="chexbox_fot_li">-->
          <!--          <d-checkbox-->
          <!--            [name]="'checkbox-username'"-->
          <!--            [label]=""-->
          <!--            [color]="'#02BFD8'"-->
          <!--            [ngModel]="false"-->
          <!--            class="label_check"-->
          <!--          >-->
          <!--          </d-checkbox>-->
          <!--          <span class="text">搜索</span>-->
          <!--        </div>-->

        </div>
      </div>
    </div>

  </div>
  <div class="card">
    <div class="card_li"
         *ngFor="let datass of myDataRole.data.List; index as i"
         (click)="typeClick(i)"
         [class.card_slect]="AccountName[i].isSelected"> {{datass.role_name}} </div>
  </div>

  <div class="button_box"
       *ngIf="showButton"
  >
    <div
      dLoading
      [backdrop]="false"
      [loading]="loadings"
    >
      <input type="button"
             value="保存"
             class="ok_button"
             (click)="sumbit()">
    </div>
    <input type="button"
           value="取消"
           class="cancel_button"
           (click)="cancle()"
    >
  </div>
  <d-toast [lifeMode]="'single'" [value]="msg"></d-toast>
</div>
