<div class="card">
  <div class="top">
    <input type="text" placeholder="|请填写客户名称" maxlength="15" (change)="InputChange($event)" [ngModel]="datas.role_name">
  </div>
  <div class="fot">
    <div class="li" (click)="onSelectButton(0)">查询</div>
    <div class="li" (click)="onSelectButton(1)">重置</div>
    <div class="li" (click)="onSelectButton(2)">新增</div>
  </div>
</div>

<footer class="max_footer"  dLoading [view]="" [loading]="loading" [backdrop]="true">
  <table class="footer_box" >
    <tr class="">
      <th *ngFor="let TextBean of label_header" class="defualt_label">{{TextBean.name}}</th>
    </tr>
    <tr *ngFor="let TextBean of myData.data.List;index as i" class="table_box_tr">
      <td class="table_td">
        <a class="defualt_label_a">
          {{TextBean.id}}
        </a>
      </td>
      <td class="table_td">
        <a class="defualt_label_a">
          {{TextBean.role_name}}
        </a>
      </td>
      <td class="table_td">
        <a class="defualt_label_a">
          {{TextBean.UpdateName}}
        </a>
      </td>
      <td class="table_td">
        <a class="defualt_label_a">
          {{TextBean.updatetime}}
        </a>
      </td>
      <td class="table_td">
        <a class="defualt_label_a">
          {{TextBean.CreateName}}
        </a>
      </td>
      <td class="table_td">
        <a class="defualt_label_a">
          {{TextBean.dateline}}
        </a>
      </td>
      <td class="table_td">
        <div class="menu_box">
          <img src="./assets/img/bianji.png" alt="" class="menu_img">
        </div>
      </td>
    </tr>

  </table>

</footer>

<div class="page_box">
  <d-pagination
    [total]="pager.total"
    [(pageSize)]="pager.pageSize"
    [(pageIndex)]="pager.pageIndex"
    [canViewTotal]="false"
    [canChangePageSize]="false"
    [canJumpPage]="false"
    [size]="'lg'"
    (pageIndexChange)="pageIndexChangeWithoutFix($event)"
    (pageSizeChange)="pageSizeChangeWithoutFix($event)"
  >
  </d-pagination>
</div>
<d-toast [lifeMode]="'single'" [value]="msg"></d-toast>
